<section *ngIf="musica">
  <h1 class="mb-4 mt-5 border-bottom">{{musica.titulo}}</h1>
  <div>
    <span *ngIf="musica.artistas.length == 1"><i class="text-muted fas fa-user"></i></span>
    <span *ngIf="musica.artistas.length != 1"><i class="text-muted fas fa-users"></i></span>
    &nbsp;
    <span *ngFor="let artista of musica.artistas; last as ultimo">
      <a [routerLink]="['/artistas', artista.id]">{{ artista.nome }}</a><span *ngIf="!ultimo">, </span>
    </span>
  </div>
  <div>
    <i class="text-muted fas fa-tag"></i>
    &nbsp;
    {{musica.genero.nome}}
  </div>
  <div>
    <p>
      &nbsp; &nbsp; &nbsp;{{ musica.gostei }}
      {{ musica.naogostei }}
    </p>

    <button type="button" class="btn btn-outline-primary" (click)="disco.gostar(musica)">Gostei</button>&nbsp;
    <button type="button" class="btn btn-outline-danger" (click)="disco.naoGostar(musica)">Não Gostei</button>
  </div>
</section>

<br>
<h2>Sugestões</h2>
<section *ngIf="musica.gostei">
  <span *ngFor="let dados of disco.listaDeMusicas()">
    <a [routerLink]="['/musicas', dados.id]" *ngIf="musica.genero.id === dados.genero.id">
      <div>
        <b>{{ dados.titulo }}</b> -
        <span *ngFor="let artista of dados.artistas; last as ultimo">
          {{ artista.nome }}<span *ngIf="!ultimo">, </span>
        </span>
      </div>
    </a>
  </span>
</section>

<section *ngIf="musica.naogostei">
    <span *ngFor="let dados of disco.listaDeMusicas()">
      <a [routerLink]="['/musicas', musica.id]" *ngIf="musica.genero.id != dados.genero.id">
        <div>
          <b>{{ dados.titulo }}</b> -
          <span *ngFor="let artista of dados.artistas; last as ultimo">
            {{ artista.nome }}<span *ngIf="!ultimo">, </span>
          </span>
        </div>
      </a>
    </span>
  </section>