<section *ngIf="musica">
  <h1 class="mb-4 mt-5 border-bottom">{{musica.titulo}}</h1>
  <div>
    <span *ngIf="musica.artistas.length == 1"><i class="text-muted fas fa-user"></i></span>
    <span *ngIf="musica.artistas.length != 1"><i class="text-muted fas fa-users"></i></span>
    &nbsp;
    <span *ngFor="let artista of musica.artistas; last as ultimo">
      <a [routerLink]="['/artistas', artista.id]">{{ artista.nome }}</a><span *ngIf="!ultimo">, </span>
    </span>
  </div>
  <div>
    <i class="text-muted fas fa-tag"></i>
    &nbsp;
    {{musica.genero.nome}}
  </div>
  <div>
    <p>
      &nbsp; &nbsp; &nbsp;{{ musica.gostei }}
      {{ musica.naogostei }}
    </p>

    <button type="button" class="btn btn-outline-primary" (click)="disco.gostar(musica)">Gostei</button>&nbsp;
    <button type="button" class="btn btn-outline-danger" (click)="disco.naoGostar(musica)">Não Gostei</button>
  </div>
</section>

<br>
<section *ngIf="musica.gostei > musica.naogostei">
  <h2>Sugestões</h2>
  <h3>Músicas com os Mesmos Artistas</h3>
  <span *ngFor="let artista of musica.artistas">
    <span *ngFor="let musica of disco.listaDeMusicasDoArtista(artista.nome)">
      <ul>
        <li>
          {{ musica.titulo }}<br>
        </li>
      </ul>
    </span>
  </span>
  <h3>Músicas com o Mesmo Gênero</h3>
  <span *ngFor="let genero of disco.listaDeGeneros()">
    <span *ngIf="genero.nome === musica.genero.nome">
      <div *ngFor="let musica of genero.musicas">
        <ul>
          <li>
            {{ musica.titulo }}
          </li>
        </ul>
      </div>
    </span>
  </span>
</section>

<section *ngIf="musica.naogostei > musica.gostei">
  <h2>Sugestões</h2>
  <h3>Músicas com outros Artistas</h3>
  <span *ngFor="let artista of musica.artistas">
    <span *ngFor="let art of disco.listaDeArtistas()">
      <span *ngIf="art.nome !== artista.nome">
        <span *ngFor="let musica of disco.listaDeMusicasDoArtista(art.nome)">
          <ul>
            <li>
              {{ musica.titulo }}<br>
            </li>
          </ul>
        </span>
      </span>
    </span>
  </span>
  <h3>Músicas com Gênero Diferente</h3>
  <span *ngFor="let genero of disco.listaDeGeneros()">
    <span *ngIf="genero.nome !== musica.genero.nome">
      <div *ngFor="let musica of genero.musicas">
        <ul>
          <li>
            {{ musica.titulo }}
          </li>
        </ul>
      </div>
    </span>
  </span>
</section>